<!DOCTYPE html>
<html>
  <head>
    <title>AgriAid</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'rails-ujs' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="flex flex-col justify-center items-center my-8 mx-16">
      <%= yield %>
    </div>
  </body>
</html>
